<?xml version="1.0"?>
<robot name="fmb_assembly_board">
    <link name="fmb_assembly_board">
        <visual>
            <geometry>
                <mesh filename="../mesh/factory_insertion/fmb_assembly_board.obj" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="Cyan">
              <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/factory_insertion/fmb_assembly_board.obj" scale="0.001 0.001 0.001"/>
            </geometry>
            <sdf resolution="512"/>
        </collision>
    </link>
</robot>