<?xml version="1.0"?>
<robot name="Large_Short_Oval_DarkBlue">
    <link name="Large_Short_Oval_DarkBlue">
        <visual>
            <geometry>
                <mesh filename="../mesh/factory_insertion/Large_Short_Oval_DarkBlue.obj" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="DarkBlue">
              <color rgba="0 0 1.0 0"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/factory_insertion/Large_Short_Oval_DarkBlue.obj" scale="0.001 0.001 0.001"/>
            </geometry>
            <sdf resolution="512"/>
        </collision>
    </link>
</robot>