<?xml version="1.0"?>
<robot name="Large_Short_Circle_Purple">
    <link name="Large_Short_Circle_Purple">
        <visual>
            <geometry>
                <mesh filename="../mesh/factory_insertion/Large_Short_Circle_Purple.obj" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="Purple">
              <color rgba="0.6 0.0 1.0 0.0"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/factory_insertion/Large_Short_Circle_Purple.obj" scale="0.001 0.001 0.001"/>
            </geometry>
            <sdf resolution="512"/>
        </collision>
    </link>
</robot>