<?xml version="1.0"?>
<robot name="Medium_Short_Star_DarkBlue">
    <link name="Medium_Short_Star_DarkBlue">
        <visual>
            <geometry>
                <mesh filename="../mesh/factory_insertion/Medium_Short_Star_DarkBlue.obj" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="DarkBlue">
              <color rgba="0 0 1.0 0"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/factory_insertion/Medium_Short_Star_DarkBlue.obj" scale="0.001 0.001 0.001"/>
            </geometry>
            <sdf resolution="512"/>
        </collision>
    </link>
</robot>